# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/weather-app



# OpenWeatherMap
OPENWEATHER_API_KEY=y7fe6a7da98a0ff329675f423045649b6
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5

# CORS
CLIENT_ORIGIN=http://localhost:5173
